* {outline: dotted 1px orange;
}

header section {
  float: right;
  margin: 20px 20px;
}
header section a {
  margin: 10px;
}
main {
  width: 1;
  margin: 30px auto;
}

main nav li {
  display: inline-block;
  margin-right: 30px;
  float: left;
  font-family: Georgia, Serif;
  font-size: 16px;
  }
main h1   {
  float: left;
}
main a {
  float: right;
  margin: 20px;
}

.featured_content {
  margin-bottom: 20px;
  border-top: 3px solid #ddd;
  clear: both;
}
.featured_content li {
  margin-top: 20px;
  margin-right: 20px;
  padding-right: 15px;
  float: left;
  width: 450px;
  border: solid #fff;
}

  .featured_content li  img {
  float: left;
  margin-right: 15px;
}

.featured_content li p {
  display:inline;
  margin:15px;
  position:

}

}
.right{
  float:right
}
